body{

    margin: 0px;
}


#principal{
width: 900px;
    
}
#cabeçalho{
padding:7px;
    font-weight: 100;
    font-size: 18px;
   background-color: #f8f8f8;
 
}

#fundo{

   background-image: url(imagens/saude.png);
   width: 900px;
   margin-right: 900px;
   margin-left: 500px;

  
}

#formularios{

    padding: 18px;

     background: #B0E0E6;

     right: 900px;
  
}



#menu{
    
   padding: 18px;
   background: #00CED1;
}


.centralizar{
    text-align: center;
    font-weight: bolder;

    }


p {
    
    
    font-weight: bolder;

}


a {
    
    text-decoration: none;
    font-weight: bolder;
  
}


 #formulariosteste {

    min-height: 900px;
    padding: 18px;

     background: #B0E0E6;

     right: 900px;
  
 }


#logo{


      font-family: 'Brush Script MT', cursive;
  

      font-size: 35px;


 }

#especialidades{

    padding:7px;
    font-weight: 100;
    font-size: 17px;
   background-color: white;
   width: 887px;
   
  margin-right: 10px;
   margin-left: -18px;

}



 #formularios2{
      display: flex;
      flex-wrap: wrap;
      background:#B0E0E6 ;
      justify-content: center;
    
    }

#formularios2 li {
font-size: 20px;
padding: 20px;
    
  
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

